@use "utilities/variables" as *;

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('/images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    height: 100vh;
    text-align: center;
    line-height: 1.5em;
    overflow: scroll;
    overflow-x: hidden;

    @media (min-width: 830px) {
        background-image: url('/images/bg-header-desktop.png');
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em 1.3em;
    overflow-x: hidden;

    @media (min-width: 830px) {
        margin-top: 5em;
    }

    .logo {
        max-width: 6.25em;

        @media (min-width: 830px) {
            max-width: 7em;
        }
    }

    .text-content {
        max-width: 625px;
        h1 {
            margin: 1em 0;
            font-size: 2rem;

            @media (min-width: 830px) {
                font-size: 2.7rem;
            }
        }

        p {
            margin-top: 0.8em;

            @media (min-width: 830px) {
                font-size: 1.1rem;
            }
        }
    }   
    
    .text-content {
        padding: 1em;
        max-width: 44.375em;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;

    @media (min-width: 830px) {
        flex-direction: row;
    }

    button {
        width: 15.625em;
        border-radius: 25px;
        padding: 1em 0;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 600;
        font-family: inherit;
        font-size: 0.9rem;

        @media (min-width: 830px) {
            margin: 0 1em;
            font-size: 1rem;
        }

    }

    .ios {
        background-color: $strong-cyan;
        box-shadow: 0 3px 0 $strong-cyan-border;
        margin: 1em 0;

        &:hover {
            background-color: $strong-cyan-op;
            box-shadow: 5px 5px 20px $strong-cyan-border;
        }
    }

    .mac {
        background-color: $light-blue;
        box-shadow: 0 3px 0 $light-blue-border;

        &:hover {
            background-color: $light-blue-op;
            box-shadow: 5px 5px 20px $light-blue-border;
        }
    }
}

.text-content {
    text-align: center;

    h1, h2 {
        color: $dark-grayish-blue;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 1rem;
        color: $grayish-blue;
        font-weight: 400;
    }
}
